---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/weather?appid=<OPEN_WEATHER_KEY>&lat=39.738453&lon=-104.984853&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"coord":{"lon":-104.98,"lat":39.74},"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03d"}],"base":"stations","main":{"temp":86.58,"feels_like":81.88,"temp_min":84,"temp_max":89.01,"pressure":1020,"humidity":30},"visibility":10000,"wind":{"speed":9.17,"deg":30},"clouds":{"all":40},"dt":1596569444,"sys":{"type":1,"id":3449,"country":"US","sunrise":1596542532,"sunset":1596593380},"timezone":-21600,"id":5419384,"name":"Denver","cod":200}'
  recorded_at: Tue, 04 Aug 2020 19:32:51 GMT
recorded_with: VCR 6.0.0
