---
http_interactions:
- request:
    method: get
    uri: https://api.unsplash.com/search/photos?client_id=<UNSPLASH_KEY>&query=denver%20skyline
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Link:
      - <https://api.unsplash.com/search/photos?client_id=<UNSPLASH_KEY>&page=654&query=denver+skyline>;
        rel="last", <https://api.unsplash.com/search/photos?client_id=<UNSPLASH_KEY>&page=2&query=denver+skyline>;
        rel="next"
      X-Total:
      - '6537'
      X-Per-Page:
      - '10'
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '48'
    body:
      encoding: ASCII-8BIT
      string: '{"total":6537,"total_pages":654,"results":[{"id":"pBtdIO99UIc","created_at":"2019-10-08T21:44:07-04:00","updated_at":"2020-06-07T01:18:45-04:00","promoted_at":null,"width":1944,"height":2592,"color":"#5EC0FF","description":"Colin
        McIntosh sheetsgiggles.com","alt_description":"wide-angle photography of buildings
        during daytime","urls":{"raw":"https://images.unsplash.com/photo-1570585429632-e8b74372a3ed?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjE1MzkzMn0","full":"https://images.unsplash.com/photo-1570585429632-e8b74372a3ed?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE1MzkzMn0","regular":"https://images.unsplash.com/photo-1570585429632-e8b74372a3ed?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&ixid=eyJhcHBfaWQiOjE1MzkzMn0","small":"https://images.unsplash.com/photo-1570585429632-e8b74372a3ed?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE1MzkzMn0","thumb":"https://images.unsplash.com/photo-1570585429632-e8b74372a3ed?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=200&fit=max&ixid=eyJhcHBfaWQiOjE1MzkzMn0"},"links":{"self":"https://api.unsplash.com/photos/pBtdIO99UIc","html":"https://unsplash.com/photos/pBtdIO99UIc","download":"https://unsplash.com/photos/pBtdIO99UIc/download","download_location":"https://api.unsplash.com/photos/pBtdIO99UIc/download"},"categories":[],"likes":24,"liked_by_user":false,"current_user_collections":[],"sponsorship":null,"user":{"id":"uCjRDd85Gm8","updated_at":"2020-08-01T21:29:08-04:00","username":"melissamullinator","name":"Melissa
        Van Gogh","first_name":"Melissa","last_name":"Van Gogh","twitter_username":"thehealthymel","portfolio_url":"http://Thehealthymelissa.com","bio":"Tag
        me on insta @thehealthymelissa","location":"Florida","links":{"self":"https://api.unsplash.com/users/melissamullinator","html":"https://unsplash.com/@melissamullinator","photos":"https://api.unsplash.com/users/melissamullinator/photos","likes":"https://api.unsplash.com/users/melissamullinator/likes","portfolio":"https://api.unsplash.com/users/melissamullinator/portfolio","following":"https://api.unsplash.com/users/melissamullinator/following","followers":"https://api.unsplash.com/users/melissamullinator/followers"},"profile_image":{"small":"https://images.unsplash.com/profile-1595815702566-d7f00485e060image?ixlib=rb-1.2.1&q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=32&w=32","medium":"https://images.unsplash.com/profile-1595815702566-d7f00485e060image?ixlib=rb-1.2.1&q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=64&w=64","large":"https://images.unsplash.com/profile-1595815702566-d7f00485e060image?ixlib=rb-1.2.1&q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=128&w=128"},"instagram_username":"thehealthymelissa","total_collections":4,"total_likes":1307,"total_photos":112,"accepted_tos":true},"tags":[{"type":"search","title":"banister"},{"type":"search","title":"handrail"},{"type":"search","title":"building"}]},{"id":"03kb2Q0DeNc","created_at":"2017-10-03T18:53:01-04:00","updated_at":"2020-06-28T01:33:24-04:00","promoted_at":"2017-10-05T15:03:27-04:00","width":3962,"height":4952,"color":"#F6F1EF","description":null,"alt_description":"bird''s-eye
        view photography of concrete high-rise building","urls":{"raw":"https://images.unsplash.com/photo-1507071150909-43d8a1651d05?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjE1Mzkz[...]
