---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<OPEN_WEATHER_KEY>&lat=39.738453&lon=-104.984853&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.74,"lon":-104.98,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1596489919,"sunrise":1596456076,"sunset":1596507046,"temp":85.84,"feels_like":81.72,"pressure":1021,"humidity":33,"dew_point":53.44,"uvi":10.4,"clouds":40,"visibility":10000,"wind_speed":9.17,"wind_deg":320,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03d"}]},"minutely":[{"dt":1596489960,"precipitation":0},{"dt":1596490020,"precipitation":0},{"dt":1596490080,"precipitation":0},{"dt":1596490140,"precipitation":0},{"dt":1596490200,"precipitation":0},{"dt":1596490260,"precipitation":0},{"dt":1596490320,"precipitation":0},{"dt":1596490380,"precipitation":0},{"dt":1596490440,"precipitation":0},{"dt":1596490500,"precipitation":0},{"dt":1596490560,"precipitation":0},{"dt":1596490620,"precipitation":0},{"dt":1596490680,"precipitation":0},{"dt":1596490740,"precipitation":0},{"dt":1596490800,"precipitati[...]
